@media screen and (max-width: 800px){
  .footer {
    display: block;
    padding: 40px;
    height: auto;
  }

  .footer .footer-menu,
  .footer .footer-contacts {
    margin: 20px auto;
  }

  .footer .footer-menu a,
  .footer .footer-contacts a {
    margin: 6px 0px;
  
  }

  .footer .footer-links {
    width: 100%;    
  }

}
